@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Open+Sans:wght@300&display=swap');

body {
    background-color: pink;
    font-family: 'Open Sans', sans-serif;
}

h1, h3, h4 {
    font-family: 'Lilita One', cursive; 
}

h1 {
    text-align: center;
    color: blue;
    background-color: white
}

h3 {
    font-size: 30px;
    color:white;
}

h4 {
    text-align: center;   
}

.contenedor {   
    width: 70%;
    margin: 0 auto;
    background-color: blue;
}


.cabeza {
    border: 2px solid white;
    padding: 30px;
 display: flex;
}

.presentación {
    text-align: justify;
    color:beige;
    font-size: 20px;
}

.cuerpo {
padding: 30px;
margin-bottom: 20px;
}

.adaptable {
    border: 2px solid white;
    width: 155px;
    height: 155px;      
}

.texto, .textoc {
    color:beige;
font-size: 20px;
}

.texto {
    padding-right: 266px;
    font-size: 20px;
}


.pie {
    border: 2px solid white;  
    margin-top: 10px;
}

